:root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}


body::-webkit-scrollbar {
  display: none;
}

body {
  max-width: 100%;
  background-color: #fefefe;
}
  
.upper {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #910ed8;
    color: #ffffff;
    font-size: xx-large;
    font-family: monospace;
    text-align: justify;
    position: sticky;
    padding: 0.5%;
    padding-left: 1.5%;
    padding-right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.upper::-webkit-scrollbar {
  display: none;
}

.crumbs {
  font-size: large;
  padding-left: 12px;
  color: grey;
  font-family: monospace;
}

.mainLink {
  color: #fefefe;
  text-decoration: none;
  font-size: xx-large;
  font-family: monospace;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

 .navbar {
  display: flex;
  margin-left: auto;
  padding: 10px 0;
}

.navbarr {
  display: flex;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-family: monospace;
  font-size: large;
  padding: 0 15px;
}

.navbar-nav .nav-link.active {
  color: #ffffff;
  font-family: monospace;
  font-size: large;
  padding: 0 15px;
}

.navbar-nav .nav-link:hover {
  color: #e4c200;
}

.nav__mobile-wrapper {
  display: none; 
  top: 13px;
  right: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: relative;
}

.nav__mobile-target {
  height: 3px;
  border-radius: 2px;
  width: 100%;
  background-color: #e4c200;
  position: relative;
  transition: all 0.2s linear;
}

.nav__mobile-target::after,
.nav__mobile-target::before {
  content: '';
  position: absolute;
  height: 3px;
  border-radius: 2px;
  width: 100%;
  background-color: #e4c200;
}

.nav__mobile-target::after {
  top: -7px;
}

.nav__mobile-target::before {
  bottom: -7px;
}

/* Активное бургерное меню */
.nav__mobile-wrapper.active .nav__mobile-target {
  transform: rotate(45deg);
  background-color: #ffffff;
}

.nav__mobile-wrapper.active .nav__mobile-target::after {
  display: none;
}

.nav__mobile-wrapper.active .nav__mobile-target::before {
  transform: rotate(-90deg);
  top: 0;
  background-color: #ffffff;
}

.nav__mobile-menu {
  display: none; 
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #e4c200;
  padding: 20px;
  min-width: 150px;
  border-radius: 15px;
  text-align: center;
}

.nav__mobile-wrapper.active .nav__mobile-menu {
  display: flex; /* Появляется, когда активно */
}

/* Медиазапросы */
@media (max-width: 545px) {
  .navbarr {
    display: none; /* Скрываем стандартный navbar */
  }

  .nav__mobile-wrapper {
    display: flex; /* Показываем бургерное меню */
  }
}

/* .page-title {
  font-size: x-large;
  font-family: monospace;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #fefefe;
} */




