#root {
    min-height: 100vh;  /* Убедитесь, что root растягивается на всю высоту экрана */
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fefefe;
  }

  .seeAll {
    background-color:#910ed8;
    height: 55px;
    border-width: 0;
    width: 150px;
    color: #ffffff;
    border-radius: 30px;
    font-family: monospace;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .seeAll:hover {
    background-color:#e4c200;
  }

  .container {
    margin-left: 30px;
  }

  .carouselItem {
    max-width: 100%;
  }

  h3{
    font-family: monospace;
    font-weight: lighter;
  }