:root {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    background-color: #fefefe;
    box-sizing: border-box;
  }

  .container {
    padding-top: 2%;
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
  }

  .carouselItem {
    max-width: 100%;
    padding: 0;
  }

  h3{
    font-family: monospace;
    font-weight: lighter;
  }