/* .card {
    padding: 8px;
}
.loadingBg {
    z-index: 999;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textStyle {
    height:48px;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-bottom:12px;
}
.cardImage {
    object-fit: contain;
}
.cardButton {
    width: 100%;
} */

.flex_container_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
    padding: 16px;
    border-radius: 5px;
    width: 100%;
    border: none;
  }

  .card_container {
    padding-left: 0;
  }
  
  .card-title {
    font-size: x-large;
    font-family: monospace;
    font-weight: lighter;
    color:black;
    padding-top: 10px;
  }
  
  .card-link {
    color: #910ed8;
    font-size: x-large;
    font-family: monospace;
    font-weight: lighter;
    background-color: transparent;
    border: none;
    text-align: start;
    padding-left: 0px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  }
  
  .card-link:hover {
    color: #e4c200;
    background-color: transparent;
    border: none;
  }

  button.btn-primary.card-link:active {
    color: #e4c200;
    background-color: transparent;
    border: none;
  }
  
  .cardImage {
    width: 100%;
    height: auto;
  }
  
